[語言=chinese] [hi=歡迎]:before{content:"歡迎來到我的網頁(抱歉，這不是全翻譯)";}	
[語言=japanese] [hi=歡迎]:before{content:"私のウェブページへようこそ（申し訳ありませんが、これは完全な翻訳ではありません）";}	
[語言=english] [hi=歡迎]:before{content:"Welcome to my web (sorry, this is not a full translation)";}
[語言=korean] [hi=歡迎]:before{content:"내 웹페이지에 오신 것을 환영합니다(죄송합니다. 이것은 완전한 번역이 아닙니다)";}